{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "/css/table.css" %}">
{% endblock %}


{% block content %}
<button id="descending_order" onclick="toSortDescending()">Сортировать по убыванию</button>
<button id="ascending_order" onclick="toSortAscending()">Сортировать по возрастанию</button>

<table border="1">
  <thead>
  <tr>
    <th>Параметр</th>
    <th>Загрузка CPU, %</th>
  </tr>
</thead>
<tbody>
  {% for val in agregate %}
  <tr>
    <td>{{val.title}}</td>
    <td id="{{val.id}}">{{val.info}}</td>
  </tr>
 {% endfor %} 
</tbody>
</table>

<div class="table_base">
<table border="1">
    <thead>
    <tr>
      <th>Время снятия показания</th>
      <th>Загрузка CPU, %</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    
    <tr>
      <td id="{{forloop.counter}}-created">{{row.created|date:"d.m.Y h:m:s"}}</td>
      <td id="{{forloop.counter}}-cpu">{{row.cpu_avg}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

<script src="{% static "js/script.js" %}"></script>
{% endblock %}

